.day {
    width: 10%;

    .morning {
        height: 20%;
    }

    .afternoon {
        height: 40%;
    }

    .evening {
        height: 20%;
    }

    .drop {
        background-color: #f5f5f5;
    }
}