@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    'Roboto',
    'Helvetica Neue',
    serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-secondary-color: #666;
}