@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

*:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  display: flex;
  margin: 0;
  min-height: 100vh;
  transition:
    color 0.5s,
    background-color 0.5s;
  font-family:
    'Roboto',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: env(safe-area-inset-top);
}

:root {
  --text-secondary-color: #666;
}