.agenda {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.tasks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    
    .day {
        width: 33%;
        display: flex;
        flex-direction: column;
    }

    .open {
        width: 33%;
        gap: 1rem;
    }
}